<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Chapter08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>firstServlet</display-name>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>sec08.ex01.firstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/first1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet</display-name>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>sec08.ex01.secondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/second1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>firstServlet2</display-name>
    <servlet-name>firstServlet2</servlet-name>
    <servlet-class>sec08.ex02.firstServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet2</servlet-name>
    <url-pattern>/first2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet2</display-name>
    <servlet-name>secondServlet2</servlet-name>
    <servlet-class>sec08.ex02.secondServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet2</servlet-name>
    <url-pattern>/second2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>firstServlet3</display-name>
    <servlet-name>firstServlet3</servlet-name>
    <servlet-class>sec08.ex03.firstServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet3</servlet-name>
    <url-pattern>/first3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet3</display-name>
    <servlet-name>secondServlet3</servlet-name>
    <servlet-class>sec08.ex03.secondServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet3</servlet-name>
    <url-pattern>/second3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>firstServlet4</display-name>
    <servlet-name>firstServlet4</servlet-name>
    <servlet-class>sec08.ex04.firstServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet4</servlet-name>
    <url-pattern>/first4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet4</display-name>
    <servlet-name>secondServlet4</servlet-name>
    <servlet-class>sec08.ex04.secondServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet4</servlet-name>
    <url-pattern>/second4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>firstServlet5</display-name>
    <servlet-name>firstServlet5</servlet-name>
    <servlet-class>sec08.ex05.firstServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet5</servlet-name>
    <url-pattern>/first5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet5</display-name>
    <servlet-name>secondServlet5</servlet-name>
    <servlet-class>sec08.ex05.secondServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet5</servlet-name>
    <url-pattern>/second5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>firstServlet6</display-name>
    <servlet-name>firstServlet6</servlet-name>
    <servlet-class>sec08.ex06.firstServlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet6</servlet-name>
    <url-pattern>/first6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet6</display-name>
    <servlet-name>secondServlet6</servlet-name>
    <servlet-class>sec08.ex06.secondServlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet6</servlet-name>
    <url-pattern>/second6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>firstServlet7</display-name>
    <servlet-name>firstServlet7</servlet-name>
    <servlet-class>sec08.ex07.firstServlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet7</servlet-name>
    <url-pattern>/first7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet7</display-name>
    <servlet-name>secondServlet7</servlet-name>
    <servlet-class>sec08.ex07.secondServlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet7</servlet-name>
    <url-pattern>/second7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberServlet6</display-name>
    <servlet-name>memberServlet6</servlet-name>
    <servlet-class>sec08.ex08.memberServlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberServlet6</servlet-name>
    <url-pattern>/member6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet6</display-name>
    <servlet-name>MemberServlet6</servlet-name>
    <servlet-class>sec08.ex08.MemberServlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet6</servlet-name>
    <url-pattern>/Member6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>sec08.ex08.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
</web-app>